@import '../../assets/variables';

.clock {
  width: 50rem;
  height: 50rem;
  background-color: #232323;
  border: 3px solid transparent;
  border-radius: 50%;
  position: relative;
  transition: all 0.5s;
  pointer-events: none;

  @media only screen and (max-width: 600px) {
    width: 28rem;
    height: 28rem;
  }

  &-name-top {
    color: cyan;
    font-size: 3.5rem;
    font-family: cursive;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;

    @media only screen and (max-width: 600px) {
      font-size: 2.5rem;
      top: 20%;
    }
  }

  &-name-bottom {
    color: cyan;
    font-size: 2rem;
    font-family: cursive;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;

    @media only screen and (max-width: 600px) {
      top: 32%;
      font-size: 1.5rem;
    }
  }

  &-center-bottom {
    width: 2.5rem;
    height: 2.5rem;
    background-color: cyan;
    border-radius: 50%;
    @include positionAbsoluteCenter;
    transition: all 0.5s;

    @media only screen and (max-width: 600px) {
      width: 2rem;
      height: 2rem;
    }
  }

  &-center-top {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #232323;
    border-radius: 50%;
    @include positionAbsoluteCenter;
    transition: all 0.5s;

    @media only screen and (max-width: 600px) {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &-digital {
    padding: 0.5rem 1rem;
    background-color: #232323;
    border: 2px solid cyan;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-family: sans-serif;
    color: cyan;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.8;
    box-shadow: 1px 1px 5px cyan;
    transition: all 0.5s;

    @media only screen and (max-width: 600px) {
      font-size: 2rem;
    }
  }

  &-hour {
    width: 0.7rem;
    height: 12rem;
    background-color: cyan;
    border-radius: 5px;
    position: absolute;
    top: 26%;
    left: 50%;
    transform-origin: bottom;
    transition: all 0.5s;

    @media only screen and (max-width: 600px) {
      width: 0.5rem;
      height: 6.72rem;
    }
  }

  &-minute {
    width: 0.45rem;
    height: 15rem;
    background-color: cyan;
    border-radius: 5px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform-origin: bottom;
    transition: all 0.5s;

    @media only screen and (max-width: 600px) {
      width: 0.3rem;
      height: 8.4rem;
    }
  }

  &-second {
    width: 0.3rem;
    height: 18rem;
    background-color: cyan;
    border-radius: 5px;
    position: absolute;
    top: 14%;
    left: 50%;
    transform-origin: bottom;
    transition: all 0.5s;

    @media only screen and (max-width: 600px) {
      width: 0.2rem;
      height: 10.08rem;
    }
  }

  &-number {
    font-size: 3rem;
    color: cyan;
    position: absolute;
    transition: all 0.5s;

    &-1 {
      top: 3.7rem;
      right: 12.6rem;
    }
    &-2 {
      top: 12.1rem;
      right: 4.1rem;
    }
    &-3 {
      top: 23.2rem;
      right: 1rem;
    }
    &-4 {
      top: 34.5rem;
      right: 4.5rem;
    }
    &-5 {
      top: 43rem;
      right: 13rem;
    }
    &-6 {
      bottom: 0rem;
      left: 23.8rem;
    }
    &-7 {
      top: 43rem;
      left: 13rem;
    }
    &-8 {
      top: 34.5rem;
      left: 4.5rem;
    }
    &-9 {
      top: 23.2rem;
      left: 1rem;
    }
    &-10 {
      top: 12.1rem;
      left: 4.1rem;
    }
    &-11 {
      top: 3.7rem;
      left: 12.6rem;
    }
    &-12 {
      top: 0.5rem;
      left: 23.4rem;
    }

    @media only screen and(max-width: 600px) {
      font-size: 2rem;

      &-1 {
        top: 1.9rem;
        right: 6.84rem;
      }
      &-2 {
        top: 6.4rem;
        right: 2.12rem;
      }
      &-3 {
        top: 12.86rem;
        right: 0.56rem;
      }
      &-4 {
        top: 19.32rem;
        right: 2.52rem;
      }
      &-5 {
        top: 23.58rem;
        right: 7.28rem;
      }
      &-6 {
        bottom: 0rem;
        left: 13rem;
      }
      &-7 {
        top: 23.58rem;
        left: 7.28rem;
      }
      &-8 {
        top: 19.32rem;
        left: 2.52rem;
      }
      &-9 {
        top: 12.86rem;
        left: 0.56rem;
      }
      &-10 {
        top: 6.4rem;
        left: 2.12rem;
      }
      &-11 {
        top: 1.9rem;
        left: 6.84rem;
      }
      &-12 {
        top: 0.2rem;
        left: 12.7rem;
      }
    }
  }
}

.clock-no-transition {
  transition: none;
}

// LIGHT THEME

.lightTheme-clock {
  background-color: #d4d4d4;
  border-color: #232323;

  .clock-name-top {
    color: #232323;
  }

  .clock-name-bottom {
    color: #232323;
  }

  .clock-center-bottom {
    background-color: #232323;
  }

  .clock-center-top {
    background-color: #d4d4d4;
  }

  .clock-digital {
    background-color: #d4d4d4;
    border-color: #232323;
    color: #232323;
    box-shadow: 1px 1px 5px black;
  }

  .clock-hour {
    background-color: #232323;
  }

  .clock-minute {
    background-color: #232323;
  }

  .clock-second {
    background-color: #232323;
  }

  .clock-number {
    color: #232323;
  }
}
