@import '../../helpers/variables';

.headerNav {
  @media only screen and (max-width: 800px) {
    width: 100%;
    background-color: #232323;
    position: absolute;
    top: -23rem;
    z-index: -10;
    transition: top 0.5s;
  }

  .nav-ul {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 800px) {
      flex-direction: column;
      padding-bottom: 3rem;
    }

    .nav-li {
      &:not(:last-child) {
        margin-right: 10rem;

        @media only screen and (max-width: 1000px) {
          margin-right: 6rem;
        }

        @media only screen and (max-width: 800px) {
          margin-right: 0;
          margin-bottom: 3rem;
        }
      }

      .nav-link {
        font-size: 2.5rem;
        @include montserratBold;
        transition: color 0.3s;
        position: relative;

        @media only screen and (min-width: 800px) {
          &:hover {
            color: white;
          }
        }

        @media only screen and (max-width: 1000px) {
          font-size: 2.2rem;
        }
      }

      .nav-link-active {
        color: white;

        &::after {
          content: '';
          height: 0.3rem;
          background-color: white;
          position: absolute;
          bottom: -0.5rem;
          left: 0;
          right: 0;
          border-radius: 5px;
        }
      }
    }
  }
}

.headerNav-active {
  top: 10rem;
}

.headerNav-active-zindex {
  z-index: auto;
}
