@import '../../assets/variables';

.react-calendar {
  

  @media only screen and(max-width: 1400px) {
    margin-left: 15rem;
  }

  @media only screen and(max-width: 1300px) {
    margin-left: 10rem;
  }

  @media only screen and(max-width: 1200px) {
    margin-left: 0;
    margin-top: 10rem;
  }

  @media only screen and(max-width: 600px) {
    width: 80%;
    margin-top: 5rem;
  }
}

.react-calendar__navigation {

}

.react-calendar__navigation__arrow {
}

.react-calendar__navigation__label {
  
}

.react-calendar__viewContainer {

}

.react-calendar__month-view {

}

.react-calendar__month-view__weekdays {

}

.react-calendar__month-view__weekdays__weekday {

  abbr {
    text-decoration: none;
  }
}

.react-calendar__month-view__weekdays__weekday--weekend {

}

.react-calendar__month-view__days {

}

.react-calendar__month-view__days__day {

}

.react-calendar__month-view__days__day--weekend {
  
}

.react-calendar__tile {

}

.react-calendar__tile--now {

}

.react-calendar__month-view__days__day--neighboringMonth {

}
