@import '../../assets/variables';

.react-calendar {
  width: 50rem;
  margin-left: 25rem;
  background-color: #232323;
  border: 2px solid #232323;
  transition: background-color 0.5s;

  @media only screen and(max-width: 1400px) {
    margin-left: 15rem;
  }

  @media only screen and(max-width: 1300px) {
    margin-left: 10rem;
  }

  @media only screen and(max-width: 1200px) {
    margin-left: 0;
    margin-top: 10rem;
  }

  @media only screen and(max-width: 600px) {
    width: 80%;
    margin-top: 5rem;
  }
}

.react-calendar__navigation {
  height: 10rem;
  margin-bottom: 0;
  background-color: #167e56;
  border-bottom: 2px solid #232323;
  transition: background-color 0.5s;

  @media only screen and(max-width: 600px) {
    height: 8rem;
  }

  @media only screen and(max-width: 480px) {
    height: 6rem;
  }

  button:not(:last-child) {
    border-right: 2px solid #232323;
  }

  button:enabled:focus {
    background-color: #167e56;
  }

  
  @media only screen and(max-width: 800px) {
    button:enabled:hover {
      background-color: #167e56;
    }
  }

  @media only screen and(min-width: 800px) {
    button:enabled:hover {
      background-color: #646464;
    }
  }
}

.react-calendar__navigation__arrow {
  width: 15%;
  font-size: 4rem;
  color: #d4d4d4;
  transition: color 0.3s;

  @media only screen and(max-width: 600px) {
    font-size: 3.5rem;
  }

  @media only screen and(max-width: 480px) {
    font-size: 3rem;
  }
}

.react-calendar__navigation__label {
  padding: 0 0.5rem;
  font-size: 2.4rem;
  color: #d4d4d4;
  @include montserratMedium;
  transition: color 0.3s;

  @media only screen and(max-width: 600px) {
    font-size: 2rem;
  }

  @media only screen and(max-width: 480px) {
    font-size: 1.6rem;
  }

  @media only screen and(max-width: 350px) {
    font-size: 1.2rem;
  }
}

.react-calendar__month-view__weekdays {
  height: 5rem;
  padding-top: 1rem;
  color: #d4d4d4;
  font-size: 1.6rem;
  pointer-events: none;
  @include montserratMedium;
  transition: color 0.5s;

  @media only screen and(max-width: 480px) {
    height: 3.5rem;
  }
}

.react-calendar__month-view__weekdays__weekday {
  @media only screen and(max-width: 480px) {
    padding-left: 0;
    padding-right: 0;
    font-size: 1.3rem;
  }

  abbr {
    text-decoration: none;
  }
}

.react-calendar__month-view__days {
  button {
    border: 2px solid transparent;

    &:focus {
      border-color: transparent;
      transform: scale(1);
    }

    &:hover {
      border-color: grey;
      transform: scale(0.9);
    }
  }
}

.react-calendar__month-view__days__day {
  height: 5rem;
}

.react-calendar__tile {
  color: #d4d4d4;
  font-size: 1.4rem;
  @include montserratMedium;
  transition: color 0.3s;

  &:enabled:hover {
    background-color: #646464;
  }

  &:enabled:focus {
    background-color: #167e56;
    font-weight: 700;
  }
}

.react-calendar__tile--active {
  background-color: transparent;
}

.react-calendar__month-view__days__day--weekend {
  color: red;
}

.react-calendar__tile--now {
  background-color: #ffff76;
  color: #232323;
  font-weight: 700;

  &:enabled:hover,
  &:enabled:focus {
    background-color: #167e56;
    color: #d4d4d4;
  }
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: rgba(212, 212, 212, 0.5);
}

// LIGHT THEME

.lightTheme-calendar.react-calendar {
  background-color: #d4d4d4;
}

.lightTheme-calendar .react-calendar__navigation {
  background-color: #d4d4d4;

  button:enabled:focus {
    background-color: #d4d4d4;
  }

  @media only screen and(max-width: 800px) {
    button:enabled:hover {
      background-color: #d4d4d4;
      color: #232323;
    }
  }
  
  @media only screen and(min-width: 800px) {
    
    button:enabled:hover {
      background-color: #646464;
      color: #d4d4d4;
    }
  }

}

.lightTheme-calendar .react-calendar__navigation__arrow {
  color: #232323;
}

.lightTheme-calendar .react-calendar__navigation__label {
  color: #232323;
}

.lightTheme-calendar .react-calendar__month-view__weekdays {
  color: #232323;
}

.lightTheme-calendar .react-calendar__month-view__days {
  button {
    &:hover {
      border-color: #232323;
      color: #d4d4d4;
    }
  }
}

.lightTheme-calendar .react-calendar__tile {
  color: #232323;

  &:enabled:focus {
    color: #d4d4d4;
  }
}

.lightTheme-calendar .react-calendar__month-view__days__day--weekend {
  color: red;
}

.lightTheme-calendar .react-calendar__tile--now {
  &:enabled:hover,
  &:enabled:focus {
    background-color: #167e56;
  }
}

.lightTheme-calendar .react-calendar__month-view__days__day--neighboringMonth {
  color: rgba(35, 35, 35, 0.5);
}
