*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #d4d4d4;
}

ul {
  list-style: none;
}

/*
  background-color: #232323;
  color: #d4d4d4;
*/
